.DS_Store
.dart_tool/

.packages
.pub/

build/
.idea/

# For library packages, don’t commit the pubspec.lock file.
# Regenerating the pubspec.lock file lets you test your package against the latest compatible versions of its dependencies.
# See https://dart.dev/guides/libraries/private-files#pubspeclock
pubspec.lock